@import "tailwindcss";

@layer base {
  :root {
    font-display: swap;
  }
  body {
    @apply bg-slate-50 text-slate-900;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
